@import "../fonts/font-awesome.min.css";
html,body{margin:0;padding:0;height: 100%;background-color: #162647;background-image: url(../images/login-bg.png);background-position: center center;background-size: auto 100%}


.login{width: 1080px;position: absolute;top:50%;left:50%;transform: translate(-50%,-50%);background-color: #fff;padding:60px 75px;box-sizing: border-box}
.login-item{}

.login-l{width: 50%}
.login-l h3{text-align: center;margin:0 0 60px 0;font-size: 28px;letter-spacing: 10px;color: #54B0AD}
.login-l img{max-width: 90%;text-align: center;margin:0 auto}
.tb{display: table;width: 100%;height: 330px}
.tbc{display: table-cell;vertical-align: middle}

.login-r{width: 40%}
.login-r *{transition: none}
.login-r-header{margin:0 auto 20px;width: 80px;height: 80px;border-radius: 60px;border:3px solid #54b0ad;padding:10px;}
.login-r li{width: 100%;height: 50px;position: relative;margin-bottom: 20px}
.login-r li i{position: absolute;left: 0;top:0;display:block;width:50px;line-height: 50px;font-size: 20px;text-align: center;color:#389c9b}
.login-r li input{width: 100%;height: 100%;text-indent: 50px;border-bottom: 1px solid #eee}
.login-r li input::placeholder{color:#ccc}
.login-r li.yzm>img{position: absolute;right: 0;top:0;width: 100px;height: 35px}
.login-r li .btn{display:block;height: 60px;line-height:60px;text-align:center;color:#fff;background: -webkit-linear-gradient(left, #5ab7b5,#64c096);background: -o-linear-gradient(left, #5ab7b5,#64c096);background: -moz-linear-gradient(left, #5ab7b5,#64c096);background: -ms-linear-gradient(left, #5ab7b5,#64c096);background: linear-gradient(left, #5ab7b5,#64c096); filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1, startColorstr=#5ab7b5, endColorstr=#64c096); -ms-filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1, startColorstr=#5ab7b5, endColorstr=#64c096);}


.checkbox-skin{padding-left: 25px}
.checkbox-skin .checkbox-icon{top:50%;transform: translateY(-50%)}
.checkbox-skin input[type=checkbox]:checked + .checkbox-icon:before{content:'\e631'}




@media screen and (max-width: 1200px) {
    .login{padding:30px 45px;width: 920px}
}

@media screen and (max-width: 1024px) {
    .login{width: 90%;margin-left: 0;}
}


@media screen and (max-width: 850px) {
    .login-l{display: none}
    .login-r{width: 100%;}
}

@media screen and (max-width: 480px) {
    .login{padding:30px}
}