<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<META HTTP-EQUIV="pragma" CONTENT="no-cache">
		<title>CRM后台管理系统</title>
		<link rel="stylesheet" type="text/css" href="{$Think.config.template.static_css}/style.css?v={$Think.config.template.version}" />
		<script type="text/javascript" src="{$Think.config.template.static_js}/jquery.min.js?v={$Think.config.template.version}"></script>
        <script src="{$Think.config.template.static_plugin}/layer/layer.js"></script>
        
        <script src="{$Think.config.template.static_plugin}/laydate/laydate.js"></script>
        <link rel="stylesheet" type="text/css" href="{$Think.config.template.static_plugin}/laydate/theme/default/laydate.css" />

		<script type="text/javascript" src="{$Think.config.template.static_js}/component.js?v={$Think.config.template.version}"></script>
		<script type="text/javascript" src="{$Think.config.template.static_js}/common.js?v={$Think.config.template.version}"></script>
        <script type="text/javascript" src="{$Think.config.template.static_plugin}/echarts.min.js?v={$Think.config.template.version}"></script>
        <style type="text/css" media="screen">
        	.fluid{padding:0;}
        	.card-body,.full-screen{overflow-x: hidden;}
			.fr{margin-right: 10px;}
			.fr .count{line-height: 36px;display: inline-block;}
			.page{margin: 10px 0;}
        </style>
	</head>
<body>
{block name="main"}
	{include file="common/form" /}
{/block}
</body>
</html>